@import "../../variables";

@media (min-width: $media-medium-min) and (max-width: $media-medium-max) {

  body.registration.new {

    main {
      background-position: 580px 180px;
      background-size: 300px 474px;
      section.registration-container {
        width: 40%;
      }
    }

  }


}
