#ladder-holder {
  #ladder-root {

    position: absolute;
    height: 319px;
    border-radius: 10px;
    background: linear-gradient(to bottom,#010116 50%,#25417f 100%);
    overflow: hidden;

    #ladder-inner {

      #score-ladder {
        z-index: 1;
        background-image: url("/images/mountain.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        margin-top: 2px;
        text-align: center;

        tr {
          height: 15px;
          td {
            width: 100%;
            position: relative;
            font-size: 10px;
            &.score-cell {
              color: #6f8ba3;
              span.current-score {
                color: #ffffff;
              }
            }
            div.player-score {
              position: absolute;
              left: 0;
              top: 0;
              height: 15px;
              overflow: hidden;
              .username {
                position: absolute;
                top: 1px;
                right: 35px;
                color: #ffffff;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
              }
              .tournament-chip {
                position: absolute;
                display: inline-block;
                background-image: url("/images/tournament/player-chip.svg");
                top: 0px;
                right: 0px;
                width: 30px;
                height: 15px;
                background-repeat: no-repeat;
                background-size: cover;
              }
            }
            .size-xlarge {
              width: 115px;
              .username {
                right: 35px;
                max-width: 65px;
              }
            }
            .size-large {
              width: 113px;
              .username {
                max-width: 65px;
              }
            }
            .size-medium {
              width: 110px;
              .username {
                max-width: 65px;
              }
            }
            .size-small {
              width: 107px;
              .username {
                max-width: 65px;
              }
            }
            .size-xsmall {
              width: 104px;
              .username {
                max-width: 65px;
              }
            }
            div.other-player-score {
              position: absolute;
              right: 0;
              top: 0;
              height: 20px;
              .username {
                color: #ffffff;
                position: absolute;
                top: 1px;
                left: 35px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
              }
              .tournament-chip {
                position: absolute;
                background-image: url("/images/tournament/chip-leader-chip.svg");
                top: 0px;
                left: 0px;
                width: 30px;
                height: 15px;
                background-repeat: no-repeat;
                background-size: cover;
              }
            }
          }
        }
        tr.empty {
          height: 0px;
        }
        &.score-size-64 {
          margin-top: 4px;
          tr.normal {
            height: 45px;
            td {
              font-size: 16px;
              div.player-score, div.other-player-score {
                height: 45px;
                .tournament-chip {
                  top: 15px;
                }
                .username {
                  top: 10px;
                }
              }
            }
          }
        }
        &.score-size-128 {
          tr.normal {
            height: 40px;
            td {
              font-size: 16px;
              div.player-score, div.other-player-score {
                height: 40px;
                .tournament-chip {
                  top: 13px;
                }
                .username {
                  top: 8px;
                }
              }
            }
          }
        }
        &.score-size-256 {
          margin-top: 4px;
          tr.normal {
            height: 35px;
            td {
              font-size: 16px;
              div.player-score, div.other-player-score {
                height: 35px;
                .tournament-chip {
                  top: 10px;
                }
                .username {
                  top: 6px;
                }
              }
            }
          }
        }
        &.score-size-512 {
          tr.normal {
            height: 32px;
            td {
              font-size: 16px;
              div.player-score, div.other-player-score {
                height: 32px;
                .tournament-chip {
                  top: 8px;
                }
                .username {
                  top: 4px;
                }
              }
            }
          }

        }
        &.score-size-1024 {
          tr.normal {
            height: 29px;
            td {
              font-size: 16px;
              div.player-score, div.other-player-score {
                height: 29px;
                .tournament-chip {
                  top: 6px;
                }
                .username {
                  top: 2px;
                }
              }
            }
          }
        }
        &.score-size-2048 {
          margin-top: 7px;
          tr.normal {
            height: 26px;
            td {
              font-size: 16px;
              div.player-score, div.other-player-score {
                height: 26px;
                .tournament-chip {
                  top: 6px;
                }
                .username {
                  top: 2px;
                }
              }
            }
          }
        }
        &.score-size-4096 {
          margin-top: 7px;
          tr.normal {
            height: 24px;
            td {
              font-size: 16px;
              div.player-score, div.other-player-score {
                height: 24px;
                .tournament-chip {
                  top: 5px;
                }
                .username {
                  top: 1px;
                }
              }
            }
          }
        }
        &.score-size-8192 {
          margin-top: 12px;
          tr.normal {
            height: 22px;
            td {
              font-size: 14px;
              div.player-score, div.other-player-score {
                height: 22px;
                .tournament-chip {
                  top: 3px;
                }
                .username {
                  top: 0px;
                }
              }
            }
          }
        }
        &.score-size-16384 {
          margin-top: 4px;
          tr.normal {
            height: 21px;
            td {
              font-size: 12px;
              div.player-score, div.other-player-score {
                height: 21px;
                .tournament-chip {
                  top: 3px;
                }
                .username {
                  top: 3px;
                }
              }
            }
          }
        }
        &.score-size-131072 {
          margin-top: 13px;
          tr.normal {
            height: 17px;
            td {
              font-size: 11px;
              div.player-score, div.other-player-score {
                height: 17px;
                .tournament-chip {
                  top: 0px;
                }
                .username {
                  top: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}

