@import "../../variables";

@media (min-width: $media-plablet-min) and (max-width: $media-plablet-max) {

  #ladder-holder {
    #ladder-root {
      left: 0px;
      top: 0px;
      width: 419px;
      height: 619px;
      background: linear-gradient(to bottom, #82e1ff 0%,#172a55 50%);
      padding: 2px;
      #ladder-inner {
        background: linear-gradient(to bottom,#010116 50%,#25417f 100%);
        border-radius: 10px;
        overflow: hidden;
        #score-ladder {
          width: 100%;
          height: 100%;
          margin-top: 6px;
          tr {
            height: 29px;
            td {
              font-size: 18px;
              div.player-score {
                height: 30px;
                .username {
                  right: 55px;
                }
                .tournament-chip {
                  width: 50px;
                  height: 25px;
                }
              }
              div.other-player-score {
                height: 30px;
                .username {
                  left: 55px;
                }
                .tournament-chip {
                  width: 50px;
                  height: 25px;
                }
              }
              .size-xlarge {
                width: 190px;
                .username {
                  max-width: 145px;
                }
              }
              .size-large {
                width: 185px;
                .username {
                  max-width: 140px;
                }
              }
              .size-medium {
                width: 180px;
                .username {
                  max-width: 125px;
                }
              }
              .size-small {
                width: 175px;
                .username {
                  max-width: 120px;
                }
              }
              .size-xsmall {
                width: 170px;
                .username {
                  max-width: 115px;
                }
              }
            }
          }
          &.score-size-64 {
            margin-top: 0px;
            tr.normal {
              height: 88px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 88px;
                  .tournament-chip {
                    top: 30px;
                  }
                  .username {
                    top: 32px;
                  }
                }
              }
            }
          }
          &.score-size-128 {
            tr.normal {
              height: 76px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 76px;
                  .tournament-chip {
                    top: 28px;
                  }
                  .username {
                    top: 28px;
                  }
                }
              }
            }
          }
          &.score-size-256 {
            margin-top: 2px;
            tr.normal {
              height: 68px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 68px;
                  .tournament-chip {
                    top: 22px;
                  }
                  .username {
                    top: 24px;
                  }
                }
              }
            }
          }
          &.score-size-512 {
            margin-top: 16px;
            tr.normal {
              height: 60px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 60px;
                  .tournament-chip {
                    top: 20px;
                  }
                  .username {
                    top: 20px;
                  }
                }
              }
            }
          }
          &.score-size-1024 {
            margin-top: 10px;
            tr.normal {
              height: 55px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 55px;
                  .tournament-chip {
                    top: 16px;
                  }
                  .username {
                    top: 18px;
                  }
                }
              }
            }
          }
          &.score-size-2048 {
            margin-top: 5px;
            tr.normal {
              height: 51px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 51px;
                  .tournament-chip {
                    top: 13px;
                  }
                  .username {
                    top: 15px;
                  }
                }
              }
            }
          }
          &.score-size-4096 {
            margin-top: 16px;
            tr.normal {
              height: 46px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 46px;
                  .tournament-chip {
                    top: 10px;
                  }
                  .username {
                    top: 13px;
                  }
                }
              }
            }
          }
          &.score-size-8192 {
            margin-top: 0px;
            tr.normal {
              height: 44px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 44px;
                  .tournament-chip {
                    top: 10px;
                  }
                  .username {
                    top: 13px;
                  }
                }
              }
            }
          }
          &.score-size-16384 {
            margin-top: 0px;
            tr.normal {
              height: 41px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 41px;
                  .tournament-chip {
                    top: 8px;
                  }
                  .username {
                    top: 10px;
                  }
                }
              }
            }
          }
          &.score-size-131072 {
            margin-top: 4px;
            tr.normal {
              height: 34px;
              td {
                font-size: 16px;
                div.player-score, div.other-player-score {
                  height: 34px;
                  .tournament-chip {
                    top: 5px;
                  }
                  .username {
                    top: 6px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
