@import "../../variables";

@media (min-width: $media-medium-min) and (max-width: $media-medium-max) {

  #ladder-holder {
    #ladder-root {
      left: 538px;
      width: 366px;

      #ladder-inner {

        #score-ladder {
          font-size: 0.8em;
          width: 100%;

          tr {
            td {
              .size-xlarge {
                width: 175px;
                .username {
                  max-width: 140px;
                }
              }
              .size-large {
                width: 170px;
                .username {
                  max-width: 135px;
                }
              }
              .size-medium {
                width: 165px;
                .username {
                  max-width: 130px;
                }
              }
              .size-small {
                width: 163px;
                .username {
                  max-width: 137px;
                }
              }
              .size-xsmall {
                width: 160px;
                .username {
                  max-width: 125px;
                }
              }
            }
          }
        }
      }
    }
  }

}
