#tournament-lobby {
  background-image: url("/images/k2-ascent-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  padding: 5px;

  p {
    text-align: center;
    font-size: 1.3em;
    line-height: 1em;

    &.top-row {
      margin-top: 1.3em;
    }
  }

  .btn-k2poker {
    font-size: 1.5em;
  }

  #bigred {
    margin: 30px auto;
  }
}
