<header>
  <div class="container">
    <a class="navbar-brand main-title" href="#">K2Poker.io</a>
    <div id="header-nav-component-holder"></div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign-Up</a></li>
        <li id="hamburger-menu"><a href="#"></a></li>
        </li>
      </ul>
  </div>
</header>
