@import "../../variables";

@media (min-width: $media-plablet-min) and (max-width: $media-plablet-max) {

  #section-wrapper {
    position: relative;
    width: 440px;
    margin: 0px auto;
  }

}

@media (min-width: $media-plablet-min) and (max-width: $media-small-max) {

  #tournament-index-wrapper {
    #tournament-index-root {
      width: 419px;
    }
  }
}
