#tournament-index-wrapper {

  #tournament-index-root {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px;
    height: 619px;

    .tournament-table {
      width: 100%;

      tr {
        th {
          padding: 1px 10px;
        }
        td {
          padding: 1px;
        }
        td.action, td.score {
          width: 15%;
          text-align: center;
        }
      }
    }

  }
}

@import "./phone";
@import "./plablet";
@import "./small";
@import "./medium";
@import "./large";
