<div id="section-wrapper">
  <section id="edit-profile-wrapper"
    data-username="<%= @profile.username %>"
    data-blurb="<%= @profile.blurb %>"
    data-image="<%= @profile.image %>"
    data-email="<%= @profile.email %>" >
  </section>
  <section id="profile-badges">
    <h2>Badges</h2>
    <p>Coming soon...</p>
  </section>
</div>
