<div id="section-wrapper">
  <section id="edit-profile-wrapper"
    data-username="<%= @profile.username %>"
    data-blurb="<%= @profile.blurb %>"
    data-image="<%= @profile.image %>"
    data-email="<%= @profile.email %>"
    data-gravatar="<%= @gravatar %>"
    data-stats= "<%= Poison.encode!(@user_stats) %>" >
  </section>
  <section id="profile-badges"></section>
</div>
