#tournament-winner {

  .popup-image {
    float: right;
    width: 70px;
    height: 120px;
    margin: 10px;
    margin-bottom: 10px;
    background-image: url("/images/trophies/tournament-winner.svg");
    background-size: cover;
  }



}
