#tournament-winner {

  .popup-image {
    float: right;
    width: 70px;
    height: 100px;
    margin: 10px;
    margin-bottom: 10px;
    background-image: url("/images/players/simple-bot.svg");
    background-size: cover;
  }



}
