body.game.play {

  main {
    height: 619px;
  }

}


@media (max-width: 767px) {
  header {
    .scoreboard {
      display: block;
      position: absolute;
      top: 3px;
      left: 50%;
      margin-left: -118px;
    }
  }
}
