body.profile {

  &.edit {

    .form-group {
      clear: both;
    }

    .profile-image {
      label {
        float: left;
        margin: 5px;
        input {
          display: none;
        }
        img {
          filter: grayscale(1);
          opacity: 0.5;
          cursor: pointer;
          border-radius: 10px;
          width: 150px;
          height: 150px;
          &:hover {
            opacity: 1;
          }
        }
        &.selected {
          img {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
    }





  }




}
