#nav-holder {
  position: absolute;
  top: 0px;
  width: 35px;
  height: 619px;

  #nav-root {

    a.side-nav-item {
      display: inline-block;
      width: 34px;
      height: 66px;
      background: linear-gradient(to bottom, #1a3062 0%, #101016 100%);
      position: absolute;
      border-radius: 0px 5px 5px 0px;
      border: 1px solid #1a3062;
      border-left: 0px;
      cursor: pointer;
      .icon {
        position: absolute;
        top: 21px;
        left: 6px;
      }
    }

    a.side-nav-item.active {
      background: linear-gradient(to bottom, #3d6fe1 0%, #3d6fe1 50%);
    }

    #nav-game {
      top: 50px;
      z-index: 9;
      &.active {
        z-index: 10;
      }

    }

    #nav-ladder {
      top: 70px;
      z-index: 8;
      &.active {
        z-index: 10;
      }
    }

    #nav-chips {
      top: 130px;
      z-index: 7;
      &.active {
        z-index: 10;
      }
    }

    #nav-chat {
      top: 380px;
      z-index: 6;

      &.active {
        z-index: 10;
      }

    }

    #nav-rules {
      top: 440px;
      z-index: 5;

      &.active {
        z-index: 10;
      }
    }

    #nav-profile {
      top: 500px;
      z-index: 4;

      &.active {
        z-index: 10;
      }

    }
  }

}

