@import "../../variables";

@media (max-width: $media-phone-max) {

  #nav-holder {
    position: absolute;
    top: 565px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(1,1,22,0.1) 0%,rgba(1,1,22,1) 100%);
    #nav-root {
      a.side-nav-item {
        z-index: 11;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        border-radius: 0px;
        .link-title {
          display: none;
        }
        &.active {
         background: transparent;
       }
        &#nav-game {
          top: 0px;
          left: 15px;
          .icon {
            top: 0px;
            left: 0px;
          }
        }
        &#nav-ladder {
          top: 0px;
          left: 65px;
          .icon {
            top: 0px;
            left: 0px;
          }
        }
        &#nav-chips {
          top: 0px;
          left: 115px;
          .icon {
            top: 0px;
            left: 0px;
          }
        }
        &#nav-chat {
          top: 0px;
          left: 165px;
          .icon {
            top: 0px;
            left: 0px;
          }
        }
        &#nav-rules {
          top: 0px;
          left: 215px;
          .icon {
            top: 0px;
            left: 0px;
          }
        }
        &#nav-profile {
          top: 0px;
          left: 265px;
          .icon {
            top: 0px;
            left: 0px;
          }
        }
      }
    }
  }

}
