#tournament-area-wrapper {

  #tournament-area-root {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px;
    height: 619px;

  }
}

@import "./phone";
@import "./plablet";
@import "./small";
@import "./medium";
@import "./large";
