#tournament-area {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px;
  height: 569px;
  overflow: hidden;
  overflow-y: scroll;
}

#tournament-bottom-actions {
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

@import "./phone";
@import "./plablet";
@import "./small";
@import "./medium";
@import "./large";
