@import "../variables";

@media (min-width: $media-large-min) {

  &.player-card {
    width: 131px;
    height: 175px;
  }

  &.table-card,
  &.opponent-card {
    width: 90px;
    height: 120px;
  }

}

