@import "../variables";

@media (min-width: $media-plablet-min) and (max-width: $media-small-max) {

  &.player-card {
    width: 125px;
    height: 166px;
    margin-left: 5px;
    margin-right: 5px;
  }

  &.table-card,
  &.opponent-card {
    width: 75px;
    height: 99px;
    margin-left: 2px;
    margin-right: 2px;
  }

}

