
.alert, .k2-alert {
  z-index: 100;
  padding: 15px 30px 15px 15px;
  margin-bottom: 20px;
  border-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, #041732 50%,#4398c9 100%);
  color: #ffffff;
  border: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  &.alert-success, &.k2-alert-success {
    background: linear-gradient(to bottom, #185700 50%,#18a000 100%);
  }
  &.alert-danger, &.k2-alert-danger {
    background: linear-gradient(to bottom, #852C30 50%,#D25B60 100%);
  }

  &.alert-warning, &.k2-alert-success {
    background: linear-gradient(to bottom, #ff9947 50%,#ffab4c 100%);
  }
}

.alert-badge-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .badge {
    margin: 0px 5px;
  }
  h5 {
    margin-left: 5px;
  }

}
