@import "./variables";

h1, h2 {
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
  padding: 7px 10px;
  color: #cecece;
  background-color: #010116;
}

.highlighted {
  color: #ffcc00;
}

.center {
  text-align: center;
}

.help-block {
  color: #f07d75;
}

.alert {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, #041732 50%,#4398c9 100%);
  color: #ffffff;
  border: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  &.alert-danger {
    background: linear-gradient(to bottom, #852C30 50%,#D25B60 100%);
  }
}

.unread-counter {
  position: relative;
  top: -6px;
  left: 1px;
  display: inline-block;
  padding: 3px;
  min-width: 16px;
  height: 16px;
  line-height: 1em;
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  color: #ffffff;
  background: linear-gradient(to bottom, #d25b60 50%, #9d0000 50%);
  border-radius: 50%;
}
