h1, h2 {
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
  padding: 7px 10px;
  color: #cecece;
  background-color: #010116;
}

.btn-k2poker {
  border-radius: 10px;
  background: linear-gradient(to bottom, #2d82e5 0%, #143a66 100%);
  color: #ffffff;
  border: 3px solid #143a66;
  &:hover {
    color: #cccccc;
    background: linear-gradient(to bottom, #2d82e5 50%, #143a66 100%);
  }
}

.highlighted {
  color: #ffcc00;
}

.center {
  text-align: center;
}
