@import "./variables";

h1, h2 {
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
  padding: 7px 10px;
  color: #cecece;
  background-color: #010116;
}

.highlighted {
  color: #ffcc00;
}

.center {
  text-align: center;
}

.help-block {
  color: #f07d75;
}

.unread-counter {
  position: relative;
  top: -6px;
  left: 1px;
  display: inline-block;
  padding: 3px;
  min-width: 16px;
  height: 16px;
  line-height: 1em;
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  color: #ffffff;
  background: linear-gradient(to bottom, #d25b60 40%, #9d0000 80%);
  border-radius: 50%;
}

.profile-image {
  border-radius: 5px;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1,1,22,0.8);
  z-index: 999;
}

