.icon {

  background-image: url("/images/icon-sprite.svg");
  display: inline-block;
  overflow: hidden;

  &.icon-tiny {
    background-size: 250px 250px;
    width: 10px;
    height: 10px;

    &.icon-info {
      background-position: -50px -25px;
    }
  }

  &.icon-sm {
    background-size: 500px 500px;
    width: 20px;
    height: 20px;

    &.icon-add {
      cursor: pointer;
      background-position: 0px -50px;
    }

    &.icon-delete {
      cursor: pointer;
      background-position: -25px -50px;
    }

    &.icon-friend {
      background-position: -50px -50px;
    }

    &.icon-monero {
      background-position: 0px -75px;
    }

    &.icon-game {
      background-position: 0px 0px;
      &:hover, &.active {
        background-position: 0px -25px;
      }
    }

    &.icon-ladder {
      background-position: -25px 0px;
      &:hover, &.active {
        background-position: -25px -25px;
      }
    }

    &.icon-chips {
      background-position: -50px 0px;
      &:hover, &.active {
        background-position: -50px -25px;
      }
    }

    &.icon-chat {
      background-position: -75px 0px;
      &:hover, &.active {
        background-position: -75px -25px;
      }
    }

    &.icon-rules {
      background-position: -100px 0px;
      &:hover, &.active {
        background-position: -100px -25px;
      }
    }

    &.icon-profile {
      background-position: -125px 0px;
      &:hover, &.active {
        background-position: -125px -25px;
      }
    }

    &.icon-invite {
      background-position: -225px 0px;
      &:hover, &.active {
        background-position: -225px -25px;
      }
    }

    &.icon-private {
      background-position: -275px 0px;
      &:hover, &.active {
        background-position: -275px -25px;
      }
    }

    &.icon-duel {
      background-position: -250px 0px;
      &:hover, &.active {
        background-position: -250px -25px;
      }
    }

  }

  &.icon-med {
    background-size: 750px 750px;
    width: 30px;
    height: 30px;

    &.icon-cards {
      background-position: 0px 0px;
      &.icon-link:hover {
        background-position: 0px -38px;
      }
    }

    &.icon-profile {
      background-position: -188px 0px;
      &.icon-link:hover {
        background-position: -188px -38px;
      }
    }

    &.icon-email {
      background-position: -263px 0px;
    }

    &.icon-invite {
      background-position: -338px 0px;
      &:hover, &.active {
        background-position: -338px -38px;
      }
    }

    &.icon-edit {
      background-position: -300px -37px;
      &:hover {
        background-position: -300px -0px;
      }
    }

    &.icon-tournament {
      background-position: -225px 0px;
      &.icon-link:hover {
        background-position: -225px -37px;
      }

    }

    &.icon-private {
      background-position: -413px 0px;
      &:hover, &.active {
        background-position: -413px -37px;
      }
    }

    &.icon-cowboy {
      background-position: -488px 0px;
      &:hover, &.active {
        background-position: -488px -37px;
      }
    }

    &.icon-duel {
      background-position: -375px 0px;
      &:hover, &.active {
        background-position: -375px -37px;
      }
    }


  }

  &.icon-lg {
    background-size: 1000px 1000px;
    width: 40px;
    height: 40px;

    &.icon-game {
      background-position: 0px 0px;
      &:hover, &.active {
        background-position: 0px -50px;
      }
    }

    &.icon-ladder {
      background-position: -50px 0px;
      &:hover, &.active {
        background-position: -50px -50px;
      }
    }

    &.icon-chips {
      background-position: -100px 0px;
      &:hover, &.active {
        background-position: -100px -50px;
      }
    }

    &.icon-chat {
      background-position: -150px 0px;
      &:hover, &.active {
        background-position: -150px -50px;
      }
    }

    &.icon-rules {
      background-position: -200px 0px;
      &:hover, &.active {
        background-position: -200px -50px;
      }
    }

    &.icon-profile {
      background-position: -250px 0px;
      &:hover, &.active {
        background-position: -250px -50px;
      }
    }

    &.icon-invite {
      background-position: -450px 0px;
      &:hover, &.active {
        background-position: -450px -50px;
      }
    }


  }



}
