.tournament-table {
  width: 100%;

  tr {

    &:nth-child(even) {
      background-color: #222146;
    }

    &:nth-child(odd) {
      background-color: #010116;
    }

    th {
      padding: 1px;
      border-bottom: 1px solid #efefef;
    }
    td {
      padding: 1px;

      &.title {
        padding: 1px 10px;
        font-weight: bold;
      }
      &.username {
        font-weight: bold;
        font-size: 1.1em;
      }
      &.action {
        width: 15%;
        text-align: center;
      }

      &.score {
        width: 15%;
        text-align: right;
        padding-right: 10px;
      }
    }
  }
}
