.tournament-table {
  width: 100%;

  tbody {
    height: 410px;
    display: block;
  }

  tr {
    height: 50px;

    th {
      padding: 1px;
    }
    td {
      padding: 5px 0px;
      border-bottom: 1px solid #121233;

      &.tournament-icon {
        padding: 0px 5px;
        img {
          width: 30px;
          height: 30px;
        }
      }

      &.title {
        padding: 1px 10px;
        font-weight: bold;
        cursor: pointer;
        a {
          color: #ffffff;
        }
      }
      &.username {
        font-weight: bold;
        font-size: 1.1em;
      }
      &.action {
        width: 15%;
        text-align: center;
      }

      &.score {
        width: 15%;
        text-align: right;
        padding-right: 10px;
      }
    }
  }

  tfoot {
    td {
      .pagination {
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
          margin: 0px 10px;
        }
      }
    }
  }
}

.badges-table {
  width: 100%;
  text-align: center;
  tbody {
    tr {
      td {
        padding: 10px 0px;
      }
    }

  }
}

.tournament-detail-table {
  width: 100%;
  tr {
    th {
      padding: 10px;
    }
    td {
      padding: 10px;
    }
  }
  .highlighted-area {
    border: 2px solid #222262;
  }
}

.tournament-winners-table {
  width: 100%;
  tbody {
    border-top: 5px dotted #222262;
    border-bottom: 5px dotted #222262;
  }
  tr {
    th {
      padding: 10px;
      font-size: 1.1em;
    }
    td {
      padding: 10px;
    }
  }
}

td, tr {
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .center {
    text-align: center;
  }
}
