$media-phone-min: 320px;
$media-phone-max: 499px;
$media-plablet-min: 500px;
$media-plablet-max: 767px;
$media-small-min: 768px;
$media-small-max: 991px;
$media-medium-min: 992px;
$media-medium-max: 1199px;
$media-large-min: 1200px;
