//TODO remove phone min width
// change phone max max to 374px
// change plablet min to 375px (iphone 6,6+ etc)- this will mean changing a lot of styles
// for plablet
//phone
$media-phone-min: 300px;
$media-phone-max: 499px;
//plablet 
$media-plablet-min: 500px;
$media-plablet-max: 767px;
//vtablet (small)
$media-small-min: 768px;
$media-small-max: 991px;
//htablet (medium)
$media-medium-min: 992px;
$media-medium-max: 1199px;
//monitor (large)
$media-large-min: 1200px;
