@import "../../variables";

@media (min-width: $media-large-min) {

  #profile-holder {
    #profile-root {
      left: 629px;
      width: 511px;
      #profile-information {
        .left-col {
          width: 380px;
        }
      }
    }
  }

}

