@import "../../variables";

@media (max-width: $media-phone-max) {

  #profile-holder {
    #profile-root {
      display: none;
      top: 0px;
      background: none;
      width: 320px;
      height: 540px;
      #profile-information {
        .left-col {
          width: 190px;
          p {
            padding: 5px;
          }
        }
        .right-col {
        }
      }
    }
  }
}
