<h1><%= @tournament.name %></h1>

<p>Hello <%= @username %> and welcome</p>
<p>Your player_id is: <%= @player_id %></p>
<p><%= link "Home Page", to: page_path(@conn, :index) %></p>

<button id="play-tournament" class="button btn-large" data-tournament="<%= @tournament.id %>">Play</button>

<div id="tournament-graph" data-tournament="<%= @tournament.id %>"></div>
