#chat-holder {

  #chat-root {
    position: absolute;
    top: 319px;
    height: 300px;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to bottom,#010116 70%,#25417f 100%);

    #chat-fader {
      position:absolute;
      z-index: 2;
      top: 33px;
      left: 0px;
      width: 100%;
      height: 100px;
      background-image: url("/images/chat-fader.svg");
      background-repeat: repeat-x;
    }

    #chats {
      position: relative;
      color: #ffffff;
      padding: 0px 10px;
      margin: 0px;
      height: 225px;
      overflow: hidden;
      overflow-y: auto;
      #comments-holder {
        width: 490px;
        position: relative;
        bottom: 0px;
        .chat-comment {
          min-height: 35px;
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          width: 100%;
          margin: 5px 0px;
          div.chat-user {
            cursor: pointer;
            flex-shrink: 0;
            border-radius: 7px;
            background-size: cover;
            width: 35px;
            height: 35px;
          }
          div.chat-text {
            display: block;
            position: relative;
            color: #cccccc;
            background-color: #1c2956;
            border-radius: 7px;
            border-radius: 7px;
            padding: 5px 15px;
            margin-left: 10px;
            max-width: 80%;
            flex-shrink: 1;
            div.username {
              font-size: 0.7em;
              color: #aaaaaa;
            }
            span.quote {
              display: inline-block;
              width: 13px;
              height: 17px;
              position: absolute;
              left: -6px;
              bottom: 0;
              background-image: url("/images/chat/comment.svg");
              background-size: cover;
            }
            a.friend-request {
              cursor: pointer;
              color: #4398c9;
            }
          }
          &.owner {
            flex-direction: row-reverse;
            div.chat-text {
              div.username {
                display: none;
              }
              position: relative;
              text-align: right;
              background-color: #4398c9;
              color: #ffffff;
              max-width: 80%;
              margin-right: 10px;
              span.quote {
                right: -6px;
                left: auto;
                background-image: url("/images/chat/owner-comment.svg");
              }
            }
          }
          &.admin {
            div.chat-text {
              background-color: #1c2956 !important;
              div.username {
                display: none;
              }
              color: #a1750b;
              width: auto;
              text-align: center;
              margin: 5px auto;
              span.quote{
                display: none;
              }
            }
          }
        }
      }
    }
    #new-chat {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #010116;
      border: 1px solid #25417f;
      border-top: none;
      line-height: 1.5em;
      padding-left: 10px;
      font-size: 1em;
      height: 40px;
      color: #ffffff;
      border-radius: 0px 0px 10px 10px;
      &.logged-in {
        padding-left: 35px;
        font-size: 1.5em;
        background-image: url("/images/input-background.png");
        background-repeat: no-repeat;
        background-position: 10px 12px;
      }
    }
  }
}

#chat-holder.full-height {
  #chat-root {
    position: absolute;
    top: 0px;
    height: 619px;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to bottom,#010116 50%,#25417f 100%);
    #chat-fader {
      top: 0px;
    }
    #chats {
      height: 560px;
    }
  }
}
