#bot-request-holder {

  #bot-request-root {
    display: none;
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 20;
    top: 40%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    background-color: #74A124;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(1,1,22,0.75);
    padding: 10px;
    &.show {
      display: block;
    }
    .bot-modal-header {
      position: relative;
      border-bottom: 1px solid #5F8817;
      height: 40px;
      h3 {
        padding-top: 5px;
        margin: 0px;
        font-size: 1.3em;
      }
      button.close {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
    .bot-request-body {
      margin-top: 20px;
      height: 140px;
      border-bottom: 1px solid #5F8817;
      .simple-bot {
        float: right;
        width: 70px;
        height: 100px;
        margin-left: 10px;
        margin-bottom: 10px;
        background-image: url("/images/players/simple-bot.svg");
        background-size: cover;
      }
    }
    .bot-request-footer {
      margin-top: 10px;
      height: 60px;
      position: relative;
      .btn {
        margin: 10px;
        width: 115px;
      }
      .btn-danger {
        position: absolute;
        right: 0px;
      }
    }
  }

}
