#chat-section {

  position: absolute;
  top: 310px;
  right: 5px;
  width: 500px;
  height: 300px;
  background: linear-gradient(to bottom, #07274c 0%, #448fe5 100%);
  border: 5px solid #448fe5;
  h3 {
    margin: 0px 0px 10px 0px;
    padding: 10px;
    font-size: 1.2em;
    color: #9f98ff;
    background-color: #1e5799;
  }

  ul#chats {
    color: #ffffff;
    padding: 0px 10px;
    margin: 0px;
    height: 195px;
    overflow: hidden;
    overflow-y: auto;
    li {
      width: 100%;
      margin: 2px 0px;
      padding: 0px 10px 3px 10px;
      list-style-type: none;
      border-bottom: 1px dashed #547caa;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    span.chat-user {
      display: block;
      width: 60px;
      color: #c1c1c1;
      overflow: hidden;
      flex-basis: 15%;
    }
    span.chat-text {
      display: block;
      flex-basis: 85%;
    }
  }

  #new-chat {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #999999 0%,#eeeeee 100%);
    border: 0;
    border-top: 5px solid #448fe5;
    line-height: 1.5em;
    padding-left: 10px;
    font-size: 1.5em;
    height: 40px;
    color: #000000;
  }

}
