#chat-holder {
  position: absolute;
  top: 319px;
  height: 300px;
  border-radius: 0px 0px 10px 10px;

  #chat-root {
    background: linear-gradient(to bottom,#010116 50%,#25417f 100%);
    height: 100%;
    border-radius: 0px 0px 10px 10px;

    ul#chats {
      color: #ffffff;
      padding: 0px 10px;
      margin: 0px;
      height: 225px;
      overflow: hidden;
      overflow-y: auto;
      li {
        width: 100%;
        margin: 2px 0px;
        padding: 0px 10px 3px 10px;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      span.chat-user {
        display: block;
        width: 60px;
        color: #c1c1c1;
        overflow: hidden;
        flex-basis: 15%;
      }
      span.chat-text {
        display: block;
        flex-basis: 85%;
      }
    }

    #new-chat {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: transparent;
      border: 0;
      line-height: 1.5em;
      padding-left: 10px;
      font-size: 1.5em;
      height: 40px;
      color: #ffffff;
      border-radius: 0px 0px 10px 10px;
    }
  }
}

@media (min-width: 1200px) {

  #chat-holder {
    left: 629px;
    width: 511px;
    #chat-root {
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  #chat-holder {
    left: 538px;
    width: 366px;
    #chat-root {
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #chat-holder {
    left: 419px;
    width: 250px;
    #chat-root {
    }
  }

}

@media (min-width: 501px) and (max-width: 767px) {

  #chat-holder {
    left: 0px;
    top: 0px;
    width: 419px;
    height: 619px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #82e1ff 0%,#172a55 50%);
    padding: 2px;
    #chat-root {
      border-radius: 10px;
      h2 {
        border-radius: 10px 10px 0px 0px;
      }
      ul#chats {
        height: 545px;
      }
      #new-chat {
        border-radius: 0px 0px 10px 10px;
      }
    }
  }

}

@media (max-width: 500px) {

  #chat-holder {
    display: none;
    height: auto;
    top: 0px;
    background: none;
    border-radius: 10px;
    #chat-root {
      width: 320px;
      height: 554px;
      border-radius: 10px;
      ul#chats {
        height: 504px;
      }
    }

  }

}
