#chips-holder {

  #chips-root {
    position: absolute;
    left: 629px;
    width: 261px;
    height: 319px;
    border-radius: 10px;
    background: linear-gradient(to bottom,#010116 50%,#25417f 100%);

    .players-online {
      position: absolute;
      top: 60px;
      left: 15px;
      z-index: 2;
      color: #d4d4d4;
      background-color: transparent;
      opacity: 0.7;
    }

    .rebuys {
      position: absolute;
      bottom: 10px;
      left: 15px;
      z-index: 2;
      color: #d4d4d4;
      background-color: transparent;
      opacity: 0.7;
    }

    .scoreboard {
      position: absolute;
      top: 10px;
      left: 15px;
    }

    #player-chips {
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: 250px;
      height: 250px;
      background-size: cover;

      &.chips-1 {
        background-image: url("/images/chips/chips-1.png");
      }

      &.chips-2 {
        background-image: url("/images/chips/chips-2.png");
      }

      &.chips-4 {
        background-image: url("/images/chips/chips-4.png");
      }

      &.chips-8 {
        background-image: url("/images/chips/chips-8.png");
      }

      &.chips-16 {
        background-image: url("/images/chips/chips-16.png");
      }

      &.chips-32 {
        background-image: url("/images/chips/chips-32.png");
      }

      &.chips-64 {
        background-image: url("/images/chips/chips-64.png");
      }

      &.chips-128 {
        background-image: url("/images/chips/chips-128.png");
      }

      &.chips-256 {
        background-image: url("/images/chips/chips-256.png");
      }

      &.chips-512 {
        background-image: url("/images/chips/chips-512.png");
      }

      &.chips-1024 {
        background-image: url("/images/chips/chips-1024.png");
      }

      &.chips-2048 {
        background-image: url("/images/chips/chips-2048.png");
      }

      &.chips-4096 {
        background-image: url("/images/chips/chips-4096.png");
      }

      &.chips-8192 {
        background-image: url("/images/chips/chips-8192.png");
      }

      &.chips-16384 {
        background-image: url("/images/chips/chips-16384.png");
      }

      &.chips-32768 {
        background-image: url("/images/chips/chips-32768.png");
      }

      &.chips-65536 {
        background-image: url("/images/chips/chips-65536.png");
      }

      &.chips-131072 {
        background-image: url("/images/chips/chips-131072.png");
      }

      &.chips-262144 {
        background-image: url("/images/chips/chips-262144.png");
      }

      &.chips-524288 {
        background-image: url("/images/chips/chips-524288.png");
      }

      &.chips-1048576 {
        background-image: url("/images/chips/chips-1048576.png");
      }

    }
  }

}

@media (min-width: 1200px) {

  #chips-holder {
    #chips-root {
      border-radius: 0px 0px 0px 10px;
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  #chips-holder {
    #chips-root {
      left: 538px;
      width: 366px;
      .scoreboard {
        left: 62px;
      }
      #player-chips {
        margin-left: 43px;
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  #chips-holder {
    #chips-root {
      left: 419px;
      width: 250px;
      .scoreboard {
        left: 10px;
      }
      #player-chips {
        margin-left: 0px;
      }
    }
  }

}

@media (min-width: 501px) and (max-width: 767px) {

  #chips-holder {
    #chips-root {
      left: 0px;
      top: 0px;
      width: 419px;
      height: 619px;
      background: linear-gradient(to bottom, #82e1ff 0%,#172a55 50%);
      padding: 2px;
      .scoreboard {
        left: 94px;
        top: 20px;
      }
      .players-online {
        top: 80px;
      }
      .rebuys {
        top: 105px;
        bottom: auto;
      }
      #player-chips {
        bottom: 100px;
        left: 84px;
      }
    }
  }

}


@media (max-width: 500px) {

  #chips-holder {
    #chips-root {
      left: 0px;
      top: 0px;
      width: 320px;
      height: 554px;
      .scoreboard {
        display: block;
        left: 45px;
        top: 20px;
      }
      .players-online {
        top: 80px;
      }
      .rebuys {
        top: 105px;
        bottom: auto;
      }
      #player-chips {
        top: 200px;
        left: 35px;
      }
    }
  }

}
