#profile-holder {
  position: absolute;
  top: 319px;
  height: 300px;
  background: linear-gradient(to bottom,#010116 50%,#25417f 100%);

}

@media (min-width: 1200px) {

  #profile-holder {
    left: 629px;
    width: 511px;
    #profile-root {
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  #profile-holder {
    left: 538px;
    width: 366px;
    #profile-root {
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #profile-holder {
    left: 419px;
    width: 250px;
    #profile-root {
    }
  }

}

@media (min-width: 501px) and (max-width: 767px) {

  #profile-holder {
    left: 0px;
    top: 0px;
    width: 419px;
    height: 619px;
    border-left: 2px solid #172a55;
    border-right: 2px solid #172a55;
  }

}

@media (max-width: 500px) {

  #profile-holder {
    display: none;
    height: auto;
    top: 0px;
    #profile-root {
      width: 318px;
      border: 1px solid #172a55;
      height: 540px;
    }
  }
}
