#rules-holder {
  #rules-root {
    position: absolute;
    top: 319px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(to bottom,#010116 50%,#25417f 100%);
    .rules-section {
      padding: 10px;
    }
  }

}

@media (min-width: 1200px) {

  #rules-holder {
    #rules-root {
      left: 629px;
      width: 511px;
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  #rules-holder {
    #rules-root {
      left: 538px;
      width: 366px;
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #rules-holder {
    #rules-root {
      left: 419px;
      width: 250px;
    }
  }

}

@media (min-width: 501px) and (max-width: 767px) {

  #rules-holder {
    #rules-root {
      left: 0px;
      top: 0px;
      width: 419px;
      height: 619px;
      background: linear-gradient(to bottom, #82e1ff 0%,#172a55 50%);
      padding: 2px;
      border-radius: 10px;
      #rules-inner {
        h2 {
          border-radius: 10px 10px 0px 0px;
        }
      }
    }
  }

}

@media (max-width: 500px) {

  #rules-holder {
    #rules-root {
      display: none;
      top: 0px;
      background: none;
      width: 320px;
      height: 540px;
      p {
        padding: 5px;
      }
    }
  }
}
