#rules-holder {
  position: absolute;
  top: 319px;
  height: 300px;
  background: linear-gradient(to bottom,#010116 50%,#25417f 100%);

}

@media (min-width: 1200px) {

  #rules-holder {
    left: 629px;
    width: 511px;
    #rules-root {
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  #rules-holder {
    left: 538px;
    width: 366px;
    #rules-root {
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #rules-holder {
    left: 419px;
    width: 250px;
    #rules-root {
    }
  }

}

@media (min-width: 421px) and (max-width: 767px) {

  #rules-holder {
    display: none;
  }

}

@media (max-width: 420px) {

  #rules-holder {
    display: none;
  }

}
