.scoreboard {
  width: 230px;
  background: linear-gradient(to bottom,#f7e9c6 0%,#3b3500 50%);
  height: 41px;
  padding: 1px;

  .scoreboard-inner {
    width: 228px;
    height: 39px;
    background-color: #010116;

    .number {
      display: inline-block;
      width: 30px;
      height: 39px;
      font-size: 0;
      background-image: url("/images/scoreboard.svg");
      background-size: 300px 39px;
      float: left;
      margin-left: 1px;

      &:first-child {
        margin-left: 0px;
      }

      &.number-spacer {
        width: 5px;
        background-color: #010116;
        background-image: none;
      }

      &.number-0 {
        background-position: 0px 0px;
      }
      &.number-1 {
        background-position: -30px 0px;
      }
      &.number-2 {
        background-position: -60px 0px;
      }
      &.number-3 {
        background-position: -90px 0px;
      }
      &.number-4 {
        background-position: -120px 0px;
      }
      &.number-5 {
        background-position: -150px 0px;
      }
      &.number-6 {
        background-position: -180px 0px;
      }
      &.number-7 {
        background-position: -210px 0px;
      }
      &.number-8 {
        background-position: -240px 0px;
      }
      &.number-9 {
        background-position: -270px 0px;
      }
    }
  }
}


