#side-nav {

  position: absolute;
  right: 0px;
  top: 0px;
  width: 35px;

  a.side-nav-item {
    display: inline-block;
    width: 34px;
    height: 66px;
    background: linear-gradient(to bottom, #1a3062 0%, #101016 100%);
    position: absolute;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #010116;
    border-left: 0px;
    cursor: pointer;
    .icon {
      position: absolute;
      top: 21px;
      left: 6px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url("/images/icon-sprite.svg");
      background-size: 200px 42px;
    }
  }

  a.side-nav-item.active {
    background: linear-gradient(to bottom, #3d6fe1 0%, #3d6fe1 50%);
  }

  #nav-game {
    top: 50px;
    .icon {
      background-position: 0px 0px;
    }

    &:hover, &.active {
      .icon {
        background-position: 0px -21px;
      }
    }
  }

  #nav-chips {
    top: 110px;
    .icon {
      background-position: -22px 0px;
    }

    &:hover, &.active {
      .icon {
        background-position: -22px -21px;
      }
    }
  }

  #nav-ladder {
    top: 170px;
    .icon {
      background-position: -44px 0px;
    }

    &:hover, &.active {
      .icon {
        background-position: -44px -21px;
      }
    }
  }

  #nav-chat {
    top: 370px;
    .icon {
      background-position: -66px 0px;
    }

    &:hover, &.active {
      .icon {
        background-position: -66px -21px;
      }
    }
  }

  #nav-rules {
    top: 430px;
    .icon {
      background-position: -88px 0px;
    }

    &:hover, &.active {
      .icon {
        background-position: -88px -21px;
      }
    }
  }


  #nav-profile {
    top: 490px;
    .icon {
      background-position: -110px 0px;
    }

    &:hover, &.active {
      .icon {
        background-position: -110px -21px;
      }
    }
  }

}

@media (max-width: 767px) {
  #side-nav {
    display: none;
  }
}

@media (min-width: 1200px) {
  #side-nav {
    display: none;
  }
}
