#tournament-root {
  background: linear-gradient(to bottom, #010116 0%, #000000 100%);
  height: 315px;
  width: 100%;

  #tournament-component {
    height: 315px;
    width: 100%;
    position: relative;

    .scoreboard {
      top: 10px;
      left: 15px;
    }

  }
}


