#tournament-graph {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 500px;
  height: 300px;
  background: linear-gradient(to bottom, #113359 0%,#020101 100%);
  border: 5px solid #448fe5;
  h3 {
    margin: 0px 0px 10px 0px;
    padding: 10px;
    font-size: 1.2em;
    color: #9f98ff;
    background-color: #1e5799;
  }
  p {
    color: #ffffff;
    padding: 10px;
  }
}
