#tournament-root {
  background: linear-gradient(to bottom, #172a55 0%, #010116 50%);
  height: 315px;
  width: 100%;

  #tournament-component {
    height: 315px;
    width: 100%;
    position: relative;

  }
}


