#tournament-graph {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ececec;
  padding: 15px;
  border: 1px solid #cecece;
  box-shadow: 5px 5px 5px 0px rgba(170,170,170,1);
  h3 {
    margin: 0px 0px 10px 0px;
    padding: 5px;
    font-size: 1.2em;
    color: #ececec;
    background-color: blue;
  }
  p {
    color: blue;
  }
}
