#tournament-root {
  background: linear-gradient(to bottom, #020101 0%,#101d38 50%);
  height: 315px;
  width: 100%;

  #tournament-graph-component {
    height: 300px;
    height: 315px;
    width: 100%;
    background-image: url("/images/tournament-temp.png");

    h2 {
      background: none;

    }
  }
}
