@import "../../variables";

@media (min-width: $media-medium-min) and (max-width: $media-medium-max) {

  #rules-holder {
    #rules-root {
      left: 538px;
      width: 366px;
      .rules-section {
        height: 230px;
        overflow-y: scroll;
        .hand-ranking {
          display: block;
          width: 70%;
        }
      }
    }
  }

}
