@import "../../variables";

@media (min-width: $media-small-min) and (max-width: $media-small-max) {
  #rules-holder {
    #rules-root {
      left: 419px;
      width: 250px;
      .rules-section {
        height: 230px;
        overflow-y: scroll;
        .hand-ranking {
          display: block;
          width: 80%;
        }
      }
    }
  }

}

