@import "../../variables";

@media (max-width: $media-phone-max) {

  #rules-holder {
    #rules-root {
      display: none;
      top: 0px;
      background: none;
      width: 320px;
      height: 540px;
      p {
        padding: 5px;
      }
    }
  }
}
