<div id="section-wrapper">
  <section id="left-col">
    <h1>About K2Poker</h1>
  </section>
  <sectionn id="right-col">
    <p>this is the right hand column, probably stick an image or something here as it wont be seen on smaller responsive states</p>
  </section>
</div>
