<div id="page-inner">
  <h1><%= gettext "Terms and Conditions" %></h1>
  <h3><%= gettext "Promotions" %></h3>
  <ol>
    <li>No promotions will be running during the beta phase.</p>
  </ol>
  <h3><%= gettext "General Terms" %></h3>
  <ul>
    <li>The site is currently in a beta state</li>
    <li>As such, all software is provided as is, with no recourse to the law</li>
    <li>Have fun</li>
   </ul>
</div>
