<div id="section-wrapper">
  <section id="tournament-index-wrapper">
    <div id="tournament-index-root"></div>
  </section>
  <section id="tournament-bottom-actions">
    <a class="btn btn-success" href="/tournaments/new">Create a Private Tournament</a>
  </section>
  <section id="chat-holder" class="full-height tournament-page">
    <div id="chat-root"></div>
  </section>
</div>
