body.tournament {

  main {
    height: 619px;
    background: linear-gradient(to bottom, #1c45a1 0%,#091122 50%);

    #tournament-lobby {
      background-image: url("/images/k2-ascent-bg.png");
      background-repeat: no-repeat;
      background-position: top center;
      overflow: hidden;
      padding: 5px;

      p {
        text-align: center;
        font-size: 1.3em;
        line-height: 1em;

        &.top-row {
          margin-top: 1.3em;
        }
      }

      .btn-k2poker {
        font-size: 1.5em;
      }

      #bigred {
        margin: 30px auto;
      }
    }
  }
}

body.tournament.new {
  .friend-select {
    input {
      display: none;
    }
    .btn {
      width: 200px;
    }
  }
}

body.tournament.index, body.tournament.show {
  main {
    background: none;
  }
}
