body.tournament {

  main {
    height: 619px;
    background: none;

    .tournament-area {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 2px;
      height: 569px;
      overflow: hidden;
      overflow-y: scroll;
    }

    .tournament-menu, .game-menu {
      margin: 20px 0px;
      display: flex;
      justify-content: space-around;
      font-weight: bold;

      .tournament-tab {
        text-align: center;
        line-height: 2.8em;
        color: #8393a7;
        width: 50%;
        height: 40px;
        background: linear-gradient(to bottom, #010116 50%,#374355 100%);
        border-radius: 20px;
        span.icon {
          vertical-align: text-bottom;
          margin-right: 10px;
        }
        &.active {
          color: #ffffff;
          background: linear-gradient(to bottom, #374355 0%,#010116 50%);
        }
        &.link:hover {
          cursor: pointer;
          color: #ffffff;
          background: linear-gradient(to bottom, #010116 33%,#374355 100%);

          .icon {
            &.icon-private {
              background-position: -275px -25px;
            }
            &.icon-duel {
              background-position: -250px -25px;
            }
          }
        }
      }
    }

    .tournament-bottom-actions {
      height: 40px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      text-align: center;
    }

    #tournament-header {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      #user-details {
        display: flex;
        align-items: center;

        img.main-profile-image {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          margin-right: 20px;
        }
      }
    }
  }

  section#tournament-image-holder {
    position: absolute;
    left: 629px;
    width: 511px;
    height: 100%;
    text-align: center;
    img.game-type-image {
      margin-top: 100px;
      width: 300px;
      height: 300px;
    }
  }

}
