@import "../variables";

@media (max-width: $media-phone-max) {

  .container {
    width: 100%;
    padding: 0px;
  }

  header {
    .navbar-right {
      float: right;
      margin: 0px 15px;
      li {
        float: left;
        a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }

  footer {
    .container {
      ul.footer-nav {
        width: 90%;
        flex-wrap: wrap;

        li {
          margin-bottom: 10px;
        }

      }
    }
  }

}
