body.page.index {

  #main-content {

    #homepage {
      position: relative;
      height: 630px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;

      #sky {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
        height: 630px;
        background-image: url("/images/homepage/sky.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      #mountain {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 630px;
        z-index: 2;
        background-image: url("/images/homepage/mountain.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      #middle {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 630px;
        z-index: 3;
        background-image: url("/images/homepage/middle.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      #foreground {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 630px;
        z-index: 4;
        background-image: url("/images/homepage/foreground.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      #beta {
        width: 100px;
        height: 100px;
        background-image: url("/images/homepage/beta.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
      }
      .btn {
        z-index: 5;
      }
      #sign-up-button {
        position: absolute;
        top: 330px;
        width: 200px;
        left: 50%;
        margin-left: -210px;
      }

      #login-button {
        position: absolute;
        top: 330px;
        width: 200px;
        left: 50%;
        margin-left: 10px;
      }

      .anon-player-form {
        .input-group.anon-nickname {
          z-index: 5;
          top: 250px;
          left: 50%;
          margin-left: -250px;
          position: absolute;
          background: linear-gradient(to bottom,#2d82e5 0%,#143a66 100%);
          border-radius: 15px;
          padding: 10px;
          input {
            height: 46px;
            width: 370px;
            border-radius: 10px;
            font-size: 2em;
          }
          button.btn-play {
            background: linear-gradient(to bottom,#2d82e5 0%,#143a66 100%);
            color: #ffffff;
            height: 46px;
            width: 100px;
            border-radius: 10px;
            margin-left: 10px;
            &:hover {
              color: #dddddd;
            }
          }
        }

      }

    }

  }

}
