body.page.index {

  #main-content {

    #homepage {

      height: 630px;
      background-image: url("/images/k2-home.jpg");
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;

      .anon-player-form {
        display: block;
        width: 350px;
        margin: 186px auto 0px auto;
        .input-group {
          background: linear-gradient(to bottom,#2d82e5 0%,#143a66 100%);
          border-radius: 15px;
          padding: 10px;
          input.anon-nickname {
            height: 46px;
            width: 220px;
            border-radius: 10px;
            font-size: 2em;
          }
          button.btn-play {
            background: linear-gradient(to bottom,#2d82e5 0%,#143a66 100%);
            color: #ffffff;
            height: 46px;
            width: 100px;
            border-radius: 10px;
            margin-left: 10px;
            &:hover {
              color: #dddddd;
            }
          }
        }

      }

    }

  }

}

@import "./phone";
@import "./plablet";
@import "./small";
@import "./medium";
@import "./large";

