@import "../../variables";

@media (max-width: $media-phone-max) {

  body.page.index {

    #main-content {

      #homepage {
        height: 400px;
        background-position: top center;
        .anon-player-form {
          margin: 40px auto 0px auto;
          width: 280px;
          .input-group {
            input.anon-nickname {
              width: 150px;
            }
            button.btn-play {
              width: 100px;
            }
          }
        }
      }
    }
  }
}
