<script> window.userToken = "";</script>

<div class="anonomous-user column col-6">
  <%= form_for @conn, page_path(@conn, :anon_user_create), [as: :anon_user], fn f -> %>
    <%= text_input f, :username %>
    <%= submit "Submit" %>
  <% end %>

</div>
