@import "../../variables";

@media (min-width: $media-small-min) and (max-width: $media-small-max) {

  #chips-holder {
    #chips-root {
      left: 419px;
      width: 250px;
      .scoreboard {
        left: 10px;
      }
      #player-chips {
        margin-left: 0px;
      }
    }
  }

}
