@import "../../variables";

@media (min-width: $media-plablet-min) and (max-width: $media-plablet-max) {

  #chips-holder {
    #chips-root {
      left: 0px;
      top: 0px;
      width: 419px;
      height: 619px;
      border-radius: 10px;
      background: linear-gradient(to bottom, #82e1ff 0%,#172a55 50%);
      padding: 2px;
      #chips-inner {
        background: linear-gradient(to bottom,#010116 50%,#25417f 100%);
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        .scoreboard {
          left: 94px;
          top: 20px;
        }
        .players-online {
          top: 80px;
        }
        .rebuys {
          top: 105px;
          bottom: auto;
        }
        #player-chips {
          bottom: 100px;
          left: 84px;
        }
      }
    }
  }
}
